{% extends "layout.html" %}
{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Checkout Form</h2>
        {% if messages %}
        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </div>
        {% endif %}
        <hr>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Device Condition</label>
          <input name="_condition" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Employee ID</label>
            <input name="_employee_id" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-success ">Checkout</button>
      </form>
    </div>

{% endblock %}