{% extends "layout.html" %}
{% block start %}


<div class="container mt-5">
    
      <form class="col-6 mx-auto card p-3 shadow-lg" method="post">
        {% csrf_token %}
        <h4>Serach log history by Device id</h4>
        <hr>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Device Id</label>
          <input name="search_device_id" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-success ">Search</button>
      </form>
    </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Device id</th>
            <th scope="col">checkout time</th>
            <th scope="col">checkout condition</th>
            <th scope="col">Employee Id</th>
            <th scope="col">ReturnBack time</th>
            <th scope="col">ReturnBack condition</th>
          </tr>
        </thead>
        <tbody>
        {% for device in devices %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <th>{{device.device_id}}</th>
            <td>{{device.device_checkout_time}}</td>
            <td>{{device.device_checkout_condition}}</td>
            <td>{{device.device_occupied_by}}</td>
            <td>{{device.device_return_back_time}}</td>
            <td>{{device.device_return_back_condition}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}