{% extends "layout.html" %}
{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Return form</h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Device Condition</label>
          <input name="_condition" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-success ">Return back</button>
      </form>
    </div>

{% endblock %}